---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Why does your portfolio look plain?">
  <div class="flex flex-col lg:justify-center h-full px-5 lg:px-0">
    <div class="pt-10 py-15">
      <h1 class="text-5xl">
        <span class="text-gray-300 animate-pulse">&gt;</span>Design choice
      </h1>
      <p class="mt-6 2xl:max-w-[70%] xl:max-w-[80%] lg:max-w-[90%]">
        This portfolio uses a minimalistic, text-focused design inspired by old
        typewritten newspapers and Keita Yamada's clean aesthetic. The goal is
        to keep things simple, clear, and focused on content. I believe good
        design doesn't need to be flashy, it should be functional, intentional,
        and easy to navigate. This approach reflects my preference for substance
        over unnecessary style.
      </p>
      <h2 class="mt-10 mb-4 text-3xl">Copycats</h2>
      <p class="2xl:max-w-[70%] xl:max-w-[80%] lg:max-w-[90%]">
        Copycats Inspiration drives creativity, I've refined my skills by
        learning from the work of others, and I welcome anyone who finds value
        in what I create. However, there's a clear line between drawing
        inspiration and outright copying. Blatantly replicating and claiming
        someone else's work as your own is unacceptable.
      </p>
    </div>
  </div>
</Layout>
