<div class="h-24 flex items-center justify-between">
  <div>Rubbie kelvin &copy; 2025 Made with love & astro</div>
  <a class="cursor-underline-effect" href="#">Why does your portfolio look plain?</a>
</div>
