<div class="lg:h-24 pb-2 lg:pb-0 flex flex-col lg:flex-row lg:items-center lg:justify-between">
  <div>Rubbie kelvin &copy; 2025 Made with love & astro</div>
  <a class="cursor-underline-effect" href="/why-does-your-portfolio-look-plain">Why does your portfolio look plain?</a>
</div>
