<!-- {% load static %} -->
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Rubbie Kelvin</title>
    </head>
    <body>
        <h1>Rubbie Kelvin</h1>
        <ul style="display: flex; gap: 1em; list-style-type: none">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Writing</a></li>
            <li><a href="#">Visual Art</a></li>
            <li><a href="#">Contact</a></li>
        </ul>

        <div>
            <h2>Let's Work Together</h2>

            <form action="#" style="display: flex; flex-direction: column">
                <input type="text" placeholder="Name" />
                <input type="email" placeholder="Email" />
                <textarea name="" id="">Write somthing here</textarea>
                <button type="submit">Send message</button>
            </form>
        </div>
    </body>
</html>
