<!-- {% load static %} -->
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Rubbie Kelvin</title>
    </head>
    <body>
        <h1>Rubbie Kelvin</h1>
        <ul style="display: flex; gap: 1em; list-style-type: none">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Writing</a></li>
            <li><a href="#">Visual Art</a></li>
            <li><a href="#">Contact</a></li>
        </ul>

        <div>
            <!-- <img src="{% static 'images/rubbie.gif' %}" alt="Rubbie" /> -->
            <!-- <h1>Hi, I'm rubbie.</h1> -->
            <h2>My Projects</h2>

            <ul>
                <li>Courier: A desktop file sharing app</li>
                <li>Notes</li>
                <li>Django Shared library</li>
            </ul>
        </div>
    </body>
</html>
