---
import "@/assets/global.css";
import AppHeader from "@/components/AppHeader.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Mozilla+Text:wght@200..700&display=swap"
      rel="stylesheet"
    />
    <title>Astro Basics</title>
  </head>
  <body class="h-full flex flex-col">
    <div class="flex-row flex">
      <div class="flex-[20%] bg-red-100"></div>
      <AppHeader className="flex-[60%]" />
      <div class="flex-[20%] bg-red-100"></div>
    </div>
    <div class="flex-grow flex">
      <div class="flex-[20%] bg-red-100"></div>
      <div class="flex-[60%] bg-blue-100">
        <slot />
      </div>
      <div class="flex-[20%] bg-red-100"></div>
    </div>
  </body>
</html>
